/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/** end reset css**/
body {
  max-width: 1140px;
  margin: auto;
  font-family: "Work Sans";
  font-size: 14px;
  background-color: #fffef8;
}

#modeEdition {
  justify-content: center;
  align-items: center;
  color: white;
  background-color: black;
  height: 59px;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
}

header {
  display: flex;
  justify-content: space-between;
  margin: 50px 0;
}

section {
  margin: 100px 0;
}

h1 {
  display: flex;
  flex-direction: column;
  font-family: "Syne";
  font-size: 22px;
  font-weight: 800;
  color: #b1663c;
}

h1 > span {
  font-family: "Work Sans";
  font-size: 10px;
  letter-spacing: 0.1em;
  padding-top: 5px;
}

h2 {
  font-family: "Syne";
  font-weight: 700;
  font-size: 30px;
  color: #1d6154;
}
nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}
nav li {
  padding: 0 20px;
  font-size: 1.2em;
  cursor: pointer;
  font-weight: 400;
}
li:hover {
  font-weight: 600;
}

nav img {
  width: 22px;
  height: 22px;
  font-weight: 600;
}

a {
  color: black;
  text-decoration: none;
}
.bold {
  font-weight: 600;
}
#introduction {
  display: flex;
  align-items: center;
}
#introduction figure {
  flex: 1;
}
#introduction img {
  display: block;
  margin: auto;
  width: 80%;
}

#introduction article {
  max-width: 404px;
  flex: 1;
}
#introduction h2 {
  margin-bottom: 1em;
}

#introduction p {
  margin-bottom: 0.5em;
  color: #3d3d3d;
  line-height: normal;
}
#portfolio h2 {
  text-align: center;
  margin-bottom: 1em;
}
.gallery {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.gallery img {
  width: 100%;
}
#contact {
  width: 50%;
  margin: auto;
}
#contact > * {
  text-align: center;
}
#contact h2 {
  margin-bottom: 20px;
}
#contact form {
  text-align: left;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

#contact input {
  height: 51px;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
  margin: 2em 0 1em 0;
}
#contact textarea {
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
  font-family: "Syne";
  font-weight: 700;
  color: white;
  width: 179px;
  background-color: #1d6154;
  margin: 2em auto;
  text-align: center;
  border-radius: 60px;
  cursor: pointer;
}
input[type="submit"]:hover {
  background-color: #0e2f28;
}

footer {
  background-color: white;
}

footer nav ul {
  display: flex;
  justify-content: flex-end;
  padding: 2em;
}

.center {
  text-decoration: underline;
  text-align: center;
}

.filter-button {
  font-family: "Syne";
  font-weight: 700;
  color: #1d6154;
  background: #fffef8;
  margin: 2em auto;
  height: 37px;
  border-radius: 60px;
  margin-right: 10px;
  padding-left: 15px;
  padding-right: 15px;
  border: 1px solid #1d6154;
  cursor: pointer;
}

.filter-button.clicked {
  color: white;
  background-color: #1d6154;
}

#filtersContainer {
  text-align: center;
  padding-bottom: 15px;
}

/***** CSS de la fenêtre modale 1 *****/

.flex {
  display: flex;
  justify-content: center;
  gap: 25px;
  padding-top: 50px;
}

.position {
  margin-top: 10px;
  margin-left: 10px;
}

.right {
  padding-right: 10px;
}

#modal {
  width: 630px;
  height: 688px;
  border-radius: 10px;
  background: #fff;
  border: #fff;
  box-sizing: border-box;
  padding: 0;
}

#modal1 {
  height: 100%;
}

.x-position {
  position: absolute;
  right: 15px;
  top: 15px;
  cursor: pointer;
  font-size: 24px;
}

dialog::backdrop {
  background: rgba(0, 0, 0, 0.3);
}

dialog h3 {
  text-align: center;
  font-size: 26px;
  line-height: normal;
  margin-top: 60px;
}

.modalContent {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-column-gap: 20px;
  margin-left: 50px;
  margin-right: 50px;
}

.modalContent img {
  width: 100%;
}

.imageContainer {
  position: relative;
  display: inline-block;
}

.trash {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  color: white;
  background-color: #000;
  border: 1px solid #000;
  border-radius: 4px;
  cursor: pointer;
  right: 5px;
  top: 5px;
  padding: 3px 4px 3px 4px;
  font-size: 15px;
}

.line {
  border-bottom: 1px solid #b3b3b3;
  width: 420px;
  margin: 0 auto;
}

.customModalBtn.modalBtn {
  height: 36px;
  width: 237px;
  border: 1px solid #1d6154;
  margin-top: auto;
}

/***** CSS de la fenêtre modale 2 *****/

#modal2 {
  width: 630px;
  height: 688px;
  border-radius: 10px;
  background: #fff;
  border: #fff;
  box-sizing: border-box;
}

#modal2 svg {
  padding-left: 50px;
}

.modal2-arrow {
  position: absolute;
  font-size: 20px;
  cursor: pointer;
  top: 15px;
  left: 15px;
}

.fileContainer {
  width: 420px;
  height: 169px;
  display: grid;
  justify-content: center;
  background-color: #e8f1f6;
  margin-top: 35px;
  border-radius: 3px;
}

#custom-file-btn {
  width: 173px;
  height: 36px;
  border-radius: 50px;
  background: #cbd6dc;
}

.inputContainer {
  display: grid;
  gap: 15px;
}

.custom-file-input {
  display: grid;
  width: 420px;
  height: 51px;
  background: #fff;
  border: #fff;
  box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.09);
}

.custom-file-title {
  color: #3d3d3d;
}

.formPosition {
  display: grid;
  justify-content: center;
  row-gap: 30px;
}

.file-description {
  text-align: center;
  color: #444;
  text-align: center;
  font-family: Work Sans;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

input[type="file"] {
  height: 0;
  width: 0;
  overflow: hidden;
}

.fileAjouterPhoto {
  width: 173px;
  height: 36px;
  border-radius: 50px;
  background: #cbd6dc;
  color: #306685;
  text-align: center;
  line-height: 36px;
  cursor: pointer;
}

#previewImage {
  width: 129px;
  height: 169px;
  position: absolute;
  z-index: 1;
  left: 50%;
  transform: translateX(-50%);
}

#modalBtnColor {
  height: 36px;
  width: 237px;
  border: 1px solid #a7a7a7;
  background-color: #a7a7a7;
  margin-top: auto;
}
#errorTitre {
  color: #b1663c;
}
#errorCategorie {
  color: #b1663c;
}

.hidden {
  display: none;
}

#errorContainer {
  text-align: center;
  color: #b1663c;
}

.error-message {
  text-align: center;
  color: #b1663c;
}

/* CSS de la page login */

.footer-position {
  position: fixed;
  bottom: 0;
  left: 0;
  margin: 0;
  right: 50px;
}
#passwordError {
  margin-top: 10px;
  text-align: center;
  color: #b1663c;
}
#emailError {
  margin-top: 10px;
  text-align: center;
  color: #b1663c;
}
